<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jzb_accounts</key>
	<string>JZBAccounts</string>
	<key>jzb_bills</key>
	<string>JZBBills</string>
	<key>jzb_borrowers</key>
	<string>JZBBorrowers</string>
	<key>jzb_budget_items</key>
	<string>JZBBudgetItems</string>
	<key>jzb_budgets</key>
	<string>JZBBudgets</string>
	<key>jzb_catelogs</key>
	<string>JZBCatalogs</string>
	<key>jzb_sub_catelogs</key>
	<string>JZBSubCatalogs</string>
</dict>
</plist>
